.posterLatest {
    width: 100%;
    height: auto;
}

.posterLatest .posterSlot {
    height: auto;
    width: 100%;
    /* display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 5px; */
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    
}

.posterSlot .poster {
    position: relative;
    width: fit-content;
    height: auto;
    margin-top: 50px;
    cursor: pointer;
    color: rgb(150, 150, 150);
    /* border: 2px solid rgb(230, 255, 5); */
}

.posterSlot .poster img {
    height: 250px;
    width: 190px;
    object-fit: cover;
    border-radius: 5px;
}

.posterSlot .poster .title {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 500;
}

.posterSlot .poster .meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0px 0px 0px;
}

.posterSlot .poster .meta .type {
    border: 1px solid white;
    padding: 0px 1px;
    font-size: 13px;
}

.posterSlot .poster .meta .dot {
    font-weight: 900;
    font-size: 15px;
}